.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        font-size: 18px;
        color: #F65261;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    input,
    textarea,
    select {
        background: #555555;
        border-radius: 4px;
        height: 45px;
        border: 0;
        outline: none;
        padding: 0 20px;
        font-size: 17px;
        color: white;
        font-weight: 200;

        &:disabled {
            background: transparent;
            height: auto;
        }

        &.searchBox {
            height: auto;
        }

        &.error {
            border: 1px solid #F65261;
        }
    }

    textarea {
        height: auto;
        resize: none;
        padding: 10px 20px;
    }

    select {
        height: auto;
        padding: 0;

        option {
            font-weight: 100;
            padding: 0 20px;
        }
    }

    input[type="date"] {
        position: relative;

        &::-webkit-calendar-picker-indicator {
            color: transparent;
            background: none;
            z-index: 1;
        }

        &:after {
            position: absolute;
            content: '\f073';
            font-family: 'FontAwesome';
            color: #f65261;
            right: 10px;
        }
    }

    .movie-genre-container {
        position: relative;

        &::after {
            position: absolute;
            top: 13px;
            right: 10px;
            content: '\f0d7';
            font-family: 'FontAwesome';
            color: #f65261;
            pointer-events: none;
        }
    }
}

.form-actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    .btn {
        font-size: 18px;
        font-weight: 300;
        padding: 10px 30px;
        border: 0;
        border-radius: 4px;
        background: transparent;
        cursor: pointer;

        &:last-child {
            margin-left: 20px;
        }

        &-red-outline {
            border: 1px solid #F65261;
            color: #F65261;
        }

        &-filled-red {
            background: #F65261;
            color: white;
        }
    }
}