.movie-card {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    margin-bottom: 5%;
    position: relative;

    .movie-image {
        max-width: 100%;
        position: relative;

        img {
            width: 100%;
            cursor: pointer;
        }

        &:hover {
            &+.movie-options>.movie-options-icon {
                display: flex;
            }
        }
    }

    .movie-options {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;

        .movie-options-icon {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #424242;
            color: #FFF;
            border-radius: 50%;
            cursor: pointer;
            z-index: 20;
        }
    }

    .movie-details {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, .8);
        margin-top: 10px;

        .movie-info {
            display: flex;
            justify-content: space-between;

            .movie-title {
                font-size: 18px;
            }

            .movie-year {
                border: 1px solid rgba(255, 255, 255, .6);
                padding: 3px 10px;
                border-radius: 4px;
                font-size: 14px;
            }
        }

        .movie-genre {
            color: rgba(255, 255, 255, .6);
        }
    }
}